<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Manage Basketball</title>
</head>
<body>
    <h1>Basketball Management</h1>

    <div>
        <h2>Actions</h2>
        <button id="createPlayer">Create Player</button>
        <button id="createTeam">Create Team</button>
        <button id="startGame">Start Game</button>
    </div>

    <script>
        // Assuming you'll add event listeners to the buttons to handle the actions.
        document.getElementById('createPlayer').addEventListener('click', function() {
            // Redirect or perform action to create a player.
            // For example: window.location.href = '/create-player/';
            window.location.pathname = 'stats/players/';
        });

        document.getElementById('createTeam').addEventListener('click', function() {
            // Redirect or perform action to create a team.
            // For example: window.location.href = '/create-team/';
            window.location.pathname = 'stats/teams/';

        });

        document.getElementById('startGame').addEventListener('click', function() {
            // Redirect or perform action to start a game.
            // For example: window.location.href = '/start-game/';
            window.location.pathname = 'stats/newgame/';

        });
    </script>
</body>
</html>